.letter-paper {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  height: 70rem;
  display: flex;
}

.text-container {
  background-color: rgb(220, 240, 240);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text-container p {
  font-size: 1rem;
  font-family: Caveat;
  width: 70%;
}

@media only screen and (min-width: 810px) {
  .text-container p {
    font-size: 1.5rem;
  }
}